# Base de datos
DATABASE_URL=""
#DATABASE_URL=""

# Base de datos externa: 
ODBC_DSN = ''
ODBC_UID = ''
ODBC_PWD = ''

# Aplicativo
APP_URL=""
PORT =
JWT_SECRET = ""
USE_MOCK_DATABASE=""
NODE_ENV = "" 
IMAGES_DIR =''
ALLOWED_ORIGINS=""

# Claudflare
R2_ACCOUNT_ID = ""
R2_ACCESS_KEY_ID = ""
R2_SECRET_ACCESS_KEY = "" 
R2_BUCKET_NAME = ""
SKIP_IMAGE_OPTIMIZATION = "true" 

# Better auth
BETTER_AUTH_SECRET= ""
BETTER_AUTH_URL= "" 

# Resend Email Provider
RESEND_API_KEY = ""